<nav>
    <div class="sidebar">
        <ul>
            <li><a href="/"><i class="fa fa-fw fa-home"></i> Home </a></li>
            <li><a href="/authors"><i class="fa fa-users"></i> All Authors </a></li>
            <li><a href="/author/new"><i class="fa fa-user-plus"></i> Add Author </a></li>
            <li><a href="/quotes"><i class="fa fa-quote-left"></i> All Quotes </a></li>
            <li><a href="/quote/new"><i class="fa fa-plus-circle"></i> Add Quote </a></li>
        </ul>
    </div>
</nav>